{% extends 'base.html' %}
{% load static %}
    
{% block content %}
{% include 'navbar.html' %}


<div class="post-container">
    {% for post in posts %}
        <div class="post">
            <div class="post-header d-flex justify-content-between">
                <div class="d-flex">
                    
                    <a href="#">
                        <img class="profile-pic" src="{{post.user.profile.image.url}}">
                    </a>
                    
                    <h6 class="post-user">{{post.user.username}}</h6>
                </div>
                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-h" style="color: gray;"></i>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'posts:edit_post' post.pk %}">Edit</a>
                              <a class="dropdown-item" href="{% url 'posts:delete_post' post.pk %}">Delete</a>
                              <a class="dropdown-item" href="#">Go to post</a>
                              <a class="dropdown-item" href="#">Go to post</a>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="post-pic-container">
                <img class="post-pic" src="{{post.image.url}}">
            </div>
            <div class="post-footer">
                <div id="post-{{ post.id }}">
                <div class="d-flex align-items-center">
                    {% if post.has_liked %}
                    <button class="btn btn-link p-0 like-button" 
                    data-post-id="{{ post.id }}" 
                    data-liked="true">
                <i class="bi bi-heart-fill text-danger"></i>
            </button>
            {% else %}
            <!-- Botón para dar like -->
            <button class="btn btn-link p-0 like-button" 
                    data-post-id="{{ post.id }}" 
                    data-liked="false">
                <i class="bi bi-heart"></i>
            </button>
            {% endif %}
            <p class="mb-0 ms-2"><strong class="likes-count">{{ post.total_likes }} likes</strong></p>
                    <p class="like-message ms-3 mb-0">
                        {% if post.total_likes == 0 %}
                            Be the first to like this
                        {% endif %}
                        {% if not post.has_liked and post.total_likes == 1 %}
                            1 person liked this    
                        {% endif %}   
                        {% if post.total_likes == 1 and  post.has_liked %}
                            You liked 
                        {% endif %}
                        {% if post.has_liked and post.total_likes == 2 %}
                            You and {{ post.likes_minus_one }} other person liked this
                        {% endif %}
                        {% if post.has_liked and post.total_likes >= 3 %}
                            You and {{post.likes_minus_one}} others liked this
                        {% endif %}
                        {% if not post.has_liked and post.total_likes >= 2 %}
                            {{ post.likes.count }} people liked this
                        {% endif %}
                    </p>
                </div>
                </div>
                <p class="quote"><strong>{{post.user.username}}</strong> {{post.quote}}</p>
                <a href="#"><p class="show-comments"data-post-id="{{ post.id }}">See the {{post.comments.all.count}} comments</p></a>
                <small class="test-muted">{{post.created_at|date:"M d, Y"}}</small>
                <div class="comment-list" style="display: none;">
                    <!-- Los comentarios se cargarán aquí -->
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}


