<div class="modal-content-comments">

    <div class="modal-comments-container">

        <div class="separator">
            <img class="profile-pic-comment" src="{{ post.user.profile.image.url }}" alt="Profile">
            <strong>{{ post.user.username }}</strong>
        </div>
        <p>{{ post.quote }}</p>


        {% for comment in post.comments.all %}
        <div class="separator">
            <img class="profile-pic-comment" src="{{ comment.user.profile.image.url }}" alt="Profile">
            <p><strong>{{ comment.user.username }}</strong> {{ comment.text }}</p>
            <small class="text-muted mt-3">{{comment.created_at|date:"M d, Y"}}</small>
        </div>
        {% endfor %}

    </div>
</div>